# Entorno virtual
venv/
my_env/
env/
*.py[cod]
__pycache__/

# Base de datos y migraciones
*.sqlite3
db.sqlite3
*/migrations/__pycache__/
*/migrations/*.pyc

# Archivos temporales y logs
*.log
*.pot
*.pyc
.DS_Store
*.swp

# Archivos de configuración local
.env
*.env

# Archivos de VSCode o IDEs
.vscode/
.idea/

# Archivos estáticos y media generados
staticfiles/
media/